.icon {
  display: block;
  height: 100%;
  width: 100%;
}

.icon::before,
.icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
}

.icon--delete::before,
.icon--delete::after {
  width: 2px;
  height: 10px;
  margin-top: -5px;
  margin-left: -1px;
  background: #ddd;
  /* css3 */
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  -moz-transform: rotate3d(0, 0, 1, 45deg);
  -ms-transform: rotate3d(0, 0, 1, 45deg);
  -o-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}

.icon--delete::after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  -moz-transform: rotate3d(0, 0, 1, -45deg);
  -ms-transform: rotate3d(0, 0, 1, -45deg);
  -o-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}

.icon--vertical-handle::before,
.icon--vertical-handle::after {
  top: 0;
  left: 0;
  height: 20px;
  width: 2px;
  background-color: #ddd;
  margin-left: 2px;
}

.icon--vertical-handle::after {
  margin-left: 6px;
}

.icon--vertical-handle:hover::before,
.icon--vertical-handle:hover::after,
.icon--delete:hover::before,
.icon--delete:hover::after,
/* firefox breaks "button .child:hover" */
button:hover .icon--delete::before,
button:hover .icon--delete::after {
  background: #bbb;
}


/* Basic table styles and shadows */

.macro-table {
  overflow: hidden;
  z-index: 0;
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .1);
}

.macro-table .macro-table-dynamic,
.macro-table .macro-table-static {
  table-layout: fixed;
  /*border-collapse: separate; this is default behavior */
  border-style: none;
  border-spacing: 0;
  width: 0;
  background: #fff;
  -moz-box-shadow: 1px 0 2px 2px #ccc;
  -webkit-box-shadow: 1px 0 2px 2px #ccc;
  box-shadow: 1px 0 2px 2px #ccc;
}

.macro-table .macro-table-header {
  margin-bottom: -4px;
  padding-bottom: 2px;
}

.macro-table .macro-table-static-data-container {
  margin-right: -4px; /* collapse space for box-shadow on static column */
  padding-right: 2px; /* allow space for box-shadow on static column */
  z-index: 3;
}

.macro-table .macro-table-static-data-container .macro-table-static {
  margin-right: 2px; /* allow space for box-shadow */
  -moz-box-shadow: 0 0 2px 2px #ccc;
  -webkit-box-shadow: 0 0 2px 2px #ccc;
  box-shadow: 0 0 2px 2px #ccc;
}

.macro-table.macro-table-loading .macro-table-static-data-container .macro-table-static {
  -moz-box-shadow: -2px 0 2px 2px #ccc;
  -webkit-box-shadow: -2px 0 2px 2px #ccc;
  box-shadow: -2px 0 2px 2px #ccc;
}

.macro-table .macro-table-header .macro-table-dynamic {
  margin-bottom: 2px; /* allow space for box-shadow */
  -moz-box-shadow: 1px -1px 2px 2px #ccc;
  -webkit-box-shadow: 1px -1px 2px 2px #ccc;
  box-shadow: 1px -1px 2px 2px #ccc;
}

.macro-table.macro-table-loading .macro-table-header .macro-table-dynamic {
  -moz-box-shadow: 1px -2px 2px 2px #ccc;
  -webkit-box-shadow: 1px -2px 2px 2px #ccc;
  box-shadow: 1px -2px 2px 2px #ccc;
}

/*
.macro-table .macro-table-header .macro-table-dynamic {
  -moz-box-shadow: 0 0 2px 2px #ccc, inset 0 0 2px #ccc;
  -webkit-box-shadow: 0 0 2px 2px #ccc, inset 0 0 2px #ccc;
  box-shadow: 0 0 2px 2px #ccc, inset 0 0 2px #ccc;
}
*/

.macro-table-dynamic .macro-table-header-row th {
  padding: 0 1em;
  font-weight: bold;
}

/* summary row in header */

.macro-table .macro-table-header-row,
.macro-table .macro-table-static-header-row,
.macro-table .macro-table-static-summary-row,
.macro-table .macro-table-summary-row {
  background-color: rgba(0, 0, 0, .1);
}

.macro-table .macro-table-static-summary-row,
.macro-table .macro-table-summary-row {
  display: none;
}

.macro-table.macro-table-display-summary-row .macro-table-static-summary-row,
.macro-table.macro-table-display-summary-row .macro-table-summary-row {
  display: table-row;
}


/* highlighted filter matches */
.macro-table-filter-match {
  background-color: rgba(255, 255, 0, .3);
  color: #000;
  border: 1px solid rgba(255, 165, 0, .3);
  font-weight: bold;
}

/* highlighted / sorted column. we want the row styles to override this for the various cases */
.macro-table .macro-table-highlight {
  background: rgba(0, 0, 0, .05); /* gray */
}

/* Table row styles (striped, selected, focused, highlighted) */

/* striped row */
.macro-table tr.macro-table-row.macro-table-row-stripe {
  background: rgba(0, 0, 0, .05); /* gray */
}

/* focused, striped row */
.macro-table tr.macro-table-row.macro-table-row-stripe.macro-table-row-focused {
  background: rgba(82, 146, 247, .15); /* blue */
}

/* selected row */
.macro-table.macro-table-static-column-enabled tr.macro-table-selected-row.macro-table-highlight {
  background: rgba(0, 0, 0, .2); /* gray */
}

.macro-table.macro-table-static-column-enabled tr.macro-table-selected-row.macro-table-highlight td {
  border-left-color: #ddd; /* needs more contrast when selected */
}


/* focused, selected row */
.macro-table.macro-table-static-column-enabled tr.macro-table-selected-row.macro-table-highlight.macro-table-row-focused {
  background: rgba(82, 146, 247, .3); /* blue */
}

/* selected, striped row */
.macro-table.macro-table-static-column-enabled tr.macro-table-row-stripe.macro-table-selected-row.macro-table-highlight {
  background: rgba(0, 0, 0, .3); /* gray */
}

.macro-table.macro-table-static-column-enabled tr.macro-table-row-stripe.macro-table-selected-row.macro-table-highlight td {
  border-left-color: #ccc; /* use default border color, contrast is fine */
}

/* focused, selected, striped row */
.macro-table.macro-table-static-column-enabled tr.macro-table-row-stripe.macro-table-selected-row.macro-table-highlight.macro-table-row-focused {
  background: rgba(82, 146, 247, .4); /* blue */
}

/* focused row or selected column */
.macro-table .macro-table-row-focused,
.macro-table .macro-table-selected-column {
  /*background: rgba(0, 0, 255, .2);*/
  background: rgba(82, 146, 247, .1); /* blue */
}

/* selected, striped column */
.macro-table tr.macro-table-highlight .macro-table-selected-column {
  background: rgba(0, 0, 255, .4); /* blue */
}


/* Table cell styles TODO: remove td and th in favor of classes */
.macro-table tr {
  height: 30px;
}

.macro-table td,
.macro-table th {
  padding: 0 0 0 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  border-bottom: 1px #ccc solid;
}

.macro-table .macro-table-summary-row .macro-table-justify-center,
.macro-table td.macro-table-justify-center {
  padding: 0;
}
.macro-table th.macro-table-justify-center,
.macro-table td.macro-table-justify-center {
  text-align: center;
}

.macro-table .macro-table-summary-row .macro-table-justify-right,
.macro-table td.macro-table-justify-right {
  padding: 0 1em 0 0;
}

.macro-table th.macro-table-justify-right,
.macro-table td.macro-table-justify-right {
  text-align: right;
}

.macro-table .macro-table-static td,
.macro-table .macro-table-static th {
  padding: 0;
}

.macro-table .macro-table-dynamic td,
.macro-table .macro-table-dynamic th {
  border-left: 1px #ccc solid;
}

.macro-table .macro-table-row-control-cell {
  text-align: center;
}

.macro-table .macro-table-column-sizer th {
  height: 0;
}


/* Actionable styles (resizing, moving, etc.) */

.macro-table .macro-table-column-sortable {
  cursor: pointer;
}

.macro-table-column-sortable .macro-table-column-header-text {
  position: relative;
  padding-right: .75em; /* width of the sortable arrow icons */
  margin-right: .25em; /* space between right edge of triangles and X icon/edge of column */
  overflow: hidden;
  text-overflow: ellipsis;
}

.macro-table-column-sortable .macro-table-column-header-text::before,
.macro-table-column-sortable .macro-table-column-header-text::after {
  content: '';
  position: absolute;
  height: 9px;
  width: 9px;
  background-repeat: no-repeat;
}

/* up arrow */
.macro-table-column-sortable .macro-table-column-header-text::before {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'><path fill='rgb(153, 153, 153)' d='M 128,362.666L 256,149.334L 384,362.666 z'/></svg>");
  right: 0;
  bottom: 50%;
  margin-bottom: -2px;
}

/* down arrow */
.macro-table-column-sortable .macro-table-column-header-text::after {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'><path fill='rgb(153, 153, 153)' d='M 384,149.334L 256,362.666L 128,149.334 z'/></svg>");
  right: 0;
  top: 50%;
  margin-top: -2px;
}

.macro-table-column-sortable.macro-table-sort-descending .macro-table-column-header-text::before,
.macro-table-column-sortable.macro-table-sort-ascending .macro-table-column-header-text::after {
  display: none;
}

.macro-table-column-sortable.macro-table-sort-ascending .macro-table-column-header-text::before,
.macro-table-column-sortable.macro-table-sort-descending .macro-table-column-header-text::after {
  height: 12px;
  width: 12px;
  top: 0;
  bottom: 0;
  margin: auto;
}



.macro-table.macro-table-column-moving .macro-table-column-sortable {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

.macro-table .macro-table-data-veil {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 3;
  /* right and bottom will be set by javascript */
}

.macro-table.macro-table-loading .macro-table-data-veil {
  display: block;
}

.macro-table.macro-table-resizing {
  cursor: e-resize;
}

.macro-table .macro-table-resize-guide {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 3px;
  cursor: e-resize;
  background: rgba(0, 0, 0, .2);
  display: none;
}

.macro-table-column-moving .macro-table-resize-guide {
  cursor: inherit;
}

.macro-table-remove-column {
  display: none;
  top: 4px;
  position: absolute;
  height: 12px;
  width: 12px;
  cursor: pointer;

  /* clear button styling */
  background: none;
  border: 0;
  padding: 0;
}

.macro-table-reorder-handle {
  display: none;
  top: 4px;
  position: absolute;
  height: 20px;
  width: 10px;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.macro-table-header-active .macro-table-remove-column-enabled .macro-table-remove-column,
.macro-table-header-active .macro-table-reorder-handle {
  display: block;
}

.macro-table-resizing .macro-table-remove-column,
.macro-table.macro-table-column-moving .macro-table-remove-column,
.macro-table-resizing .macro-table-reorder-handle,
.macro-table.macro-table-column-moving .macro-table-reorder-handle {
  display: none;
}

.macro-table-reorder-guide {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 3;
  background: rgba(0, 0, 0, .2);
  display: none;
}

.macro-table-resize-guide.macro-table-highlight,
.macro-table-column-moving .macro-table-reorder-guide,
.macro-table-column-moving .macro-table-resize-guide {
  display: block;
}

.macro-table-column-moving .macro-table-reorder-guide,
.macro-table-column-moving .macro-table-resize-guide {
  /*pointer-events: none; /* this rule is what allows the reordering to work, making mouse events pass through. not supported in ie! */
}

.macro-table.macro-table-column-moving {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

.macro-table.macro-table-resizing,
.macro-table.macro-table-column-moving {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* Structural styling (catch all) */


.macro-table-data-container {
  margin-left: -1px;
}

.macro-table-static-column-enabled .macro-table-data-container {
  margin-left: 0; /* renders normally unless the static column is disabled, in which case the border is hidden */
}

.macro-table-static-header,
.macro-table-header,
.macro-table-static-data-container,
.macro-table-data-container {
  overflow: hidden;
  position: relative;
}

.macro-table-data-container .macro-table-scroll-wrapper {
  position: relative;
}

.macro-table-data-container .macro-table-scroll-wrapper,
.macro-table-scroll-spacer {
  min-height: 1px; /* allow scrolling columns horizontally when there are no rows */
}

.macro-table-header-wrapper {
  position: relative;
  z-index: 3;
  border: 1px solid #ccc;
  border-right: 0;
  border-bottom: 0;
  border-left-width: 0;
  /* margin-right is set by javascript */
}

.macro-table-static-column-enabled .macro-table-header-wrapper {
  border-left-width: 1px; /* renders with the border unless the static column is disabled */
}

.macro-table-scroll-shim {
  position: absolute;
  top: -1px;
  bottom: 0;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  margin-bottom: 4px; /* allow space for box-shadow in header */

  /* width and right offset will be set by javascript */
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.macro-table-header-wrapper table {
  border-bottom: 1px solid #ccc;
}

.macro-table-data-container-wrapper {
  position: absolute;
  overflow: hidden;
  z-index: 2;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-top-width: 0;
}

/* table message rules */

.macro-table-message-wrapper {
  display: none;
  position: absolute;
  right: 50%;
  top: 25%;
}

.macro-table-display-message .macro-table-message-wrapper {
  display: block;
}

.macro-table-message {
  text-align: center;
  position: relative;
  left: 50%;
  background-color: #fff;
  padding: 1em;
  border: 1px solid #ccc;
  -moz-box-shadow: 2px 2px 2px 0px #ccc;
  -webkit-box-shadow: 2px 2px 2px 0px #ccc;
  box-shadow: 2px 2px 2px 0px #ccc;
}


.macro-table-scroll-container {
  position: relative;
  overflow: scroll;
  padding: 0;
  margin: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-top-width: 0;
}

.macro-table.has-styled-scrollbars .macro-table-scroll-container {
  box-sizing: content-box;
  border-width: 0;
}

.macro-table-static-column-content,
.macro-table-static-header-row {
  text-align: center;
}

.macro-table-checkbox {
  margin: 0;
}


/* static column rules */

.macro-table .macro-table-static-header,
.macro-table .macro-table-static-data-container {
  display: none;
  float: left;
}

.macro-table.macro-table-static-column-enabled .macro-table-static-header,
.macro-table.macro-table-static-column-enabled .macro-table-static-data-container {
  display: block;
}

.macro-table-checkbox-label {
  cursor: pointer;
  display: inline-block;
  width: 12px; /* can't use em's because it makes the SVG blurry on non-retina */
  height: 12px; /* can't use em's because it makes the SVG blurry on non-retina */
  background-repeat: no-repeat;
  background-color: #efefef;
  border: 1px solid #999;
  border-radius: .2em;
  vertical-align: middle;
  position: relative; /* to appear on top of dotted hierarchy lines */
  box-sizing: border-box;
}

.macro-table-checkbox:focus + .macro-table-checkbox-label {
  outline: 1px dotted #666;
  outline: -webkit-focus-ring-color auto 5px;
}

.macro-table-checkbox:active + .macro-table-checkbox-label {
  background-color: #ccc;
}

.macro-table-checkbox {
  position: absolute;
  left: -200%;
}

.macro-table-checkbox:disabled + .macro-table-checkbox-label {
  opacity: .55;
}

/* checked */
.macro-table-checkbox:checked + .macro-table-checkbox-label {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'><path fill='rgb(102, 102, 102)' d='M 366,139L 216,289L 146,219L 96,269L 216,389L 416,189 z'/></svg>");
}

/* right triangle (collapsed) */
.macro-table-checkbox.macro-table-row-expander + .macro-table-row-expander-label {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'><path fill='rgb(102, 102, 102)' d='M 181.334,128L 394.666,256L 181.334,384 z'/></svg>");
}

/* down triangle (expanded) */
.macro-table-checkbox.macro-table-row-expander:checked + .macro-table-row-expander-label {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'><path fill='rgb(102, 102, 102)' d='M 384,149.334L 256,362.666L 128,149.334 z'/></svg>");
}

/* plus */
.macro-table-checkbox.macro-table-expand-toggle + .macro-table-expand-toggle-label {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'><path fill='rgb(102, 102, 102)' d='M 406,216L 296,216 L 296,106 c0-5.52-4.47-10-10-10l-60,0 c-5.53,0-10,4.48-10,10l0,110 L 106,216 c-5.53,0-10,4.48-10,10l0,60 c0,5.53, 4.47,10, 10,10l 110,0 l0,110 c0,5.53, 4.47,10, 10,10l 60,0 c 5.53,0, 10-4.47, 10-10L 296,296 l 110,0 c 5.53,0, 10-4.47, 10-10l0-60 C 416,220.48, 411.53,216, 406,216z'/></svg>");
}

/* minus, indeterminate state */
.macro-table-checkbox:indeterminate + .macro-table-checkbox-label,
.macro-table-checkbox.macro-table-expand-toggle:checked + .macro-table-expand-toggle-label {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'><path fill='rgb(102, 102, 102)' d='M 106,216l 300,0 c 5.53,0, 10,4.48, 10,10l0,60 c0,5.53-4.47,10-10,10L 106,296 c-5.52,0-10-4.47-10-10l0-60 C 96,220.48, 100.48,216, 106,216z'/></svg>");
}


/* expanded rows dotted line hierarchy */

.macro-table-expand-toggle-container { /* needed because firefox doesn't support relative positioning in table cells */
  position: relative;
  height: 29px; /* 30(default height of row) - 1(border-bottom) *//* chrome doesn't support height 100% for relatively positioned blocks inside table cells...*/
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.macro-table-expand-toggle-container .macro-table-row-expander-label { /* needed because firefox doesn't support relative positioning in table cells */
  position: absolute;
  left: 0;
  margin: auto;
  right: 0;
  top: 1px;
  bottom: 0;
}

.macro-table-subrow-hierarchy-vertical-line-top-half .macro-table-expand-toggle-container::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 50%;
  right: 50%;
  border-left: 1px dotted rgba(0, 0, 0, 1);
}

.macro-table-subrow-hierarchy-vertical-line-bottom-half .macro-table-expand-toggle-container::before {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 0;
  right: 50%;
  border-left: 1px dotted rgba(0, 0, 0, 1);
}

.macro-table-subrow-hierarchy-vertical-line-full .macro-table-expand-toggle-container::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 50%;
  border-left: 1px dotted rgba(0, 0, 0, 1);
}

.macro-table-subrow-hierarchy-line-right .macro-table-expand-toggle-container::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  border-top: 1px dotted rgba(0, 0, 0, 1);
}

.macro-table-row-selector-column {
  text-align: center;
}

/* Webkit doesn't yet support "visibility: collapse;" on <col> */
/*
col.macro-table-row-expander-column,
col.macro-table-row-selector-column  {
  visibility: collapse;
}

.macro-table-static-column-enabled.macro-table-rows-expandable .macro-table-row-expander-column,
.macro-table-static-column-enabled.macro-table-rows-selectable .macro-table-row-selector-column {
  visibility: visible;
}
*/



/* I don't think we need this for the static columns, the col widths handle it, right? */
/*
.macro-table-static-column-enabled.macro-table-rows-selectable .macro-table-static-header,
.macro-table-static-column-enabled.macro-table-rows-selectable .macro-table-static-data-container,
.macro-table-static-column-enabled.macro-table-rows-collapsible .macro-table-static-header,
.macro-table-static-column-enabled.macro-table-rows-collapsible .macro-table-static-data-container {
  width: 20px;
}

.macro-table-static-column-enabled.macro-table-rows-collapsible.macro-table-rows-collapsible .macro-table-static-header,
.macro-table-static-column-enabled.macro-table-rows-collapsible.macro-table-rows-collapsible .macro-table-static-data-container {
  width: 40px;
}
*/

/* Expanded / Collapsed rows rules */

.macro-table-sub-row {
  display: none;
}

.macro-table-row-expanded .macro-table-sub-row {
  display: table-row;
}


/* cell-specific rules */

.macro-table-cell-content.macro-table-no-wrap {
  white-space: nowrap;
}


/* clickable table cells */

.macro-table-cell-content.macro-table-cell-clickable {
  color: blue;
  color: -webkit-link;
  cursor: pointer;
}

.macro-table-cell-content.macro-table-cell-clickable:active {
  color: red;
  color: -webkit-activelink;
}

.macro-table-cell-content.macro-table-cell-clickable:focus {
  outline: -webkit-focus-ring-color auto 5px;
}

.macro-table-cell-content.macro-table-cell-clickable:hover {
  text-decoration: underline;
}


/* scrollbar styling */

.macro-table-scroll-container::-webkit-scrollbar {
  overflow: visible;
  background-color: #fff;
}

.macro-table-scroll-container::-webkit-scrollbar:vertical {
  width: 12px;
}
.macro-table-scroll-container::-webkit-scrollbar:horizontal {
  height: 12px;
}
.macro-table-scroll-container::-webkit-scrollbar-button:start {
  display: none;
}
.macro-table-scroll-container::-webkit-scrollbar-button:end {
  display: block;
}
.macro-table-scroll-container::-webkit-scrollbar-button {
  border: 1px solid #ccc;
}

.macro-table-scroll-container::-webkit-scrollbar-button:horizontal {
  width: 16px;
  border-width: 1px 0 1px 1px;
  background-position: 2px 0;
}

.macro-table-scroll-container::-webkit-scrollbar-button:vertical {
  height: 16px;
  border-width: 1px 1px 0 1px;
  background-position: 0 2px;
}

.macro-table-scroll-container::-webkit-scrollbar-button:horizontal,
.macro-table-scroll-container::-webkit-scrollbar-button:vertical {
  background-color: #fff;
  background-repeat: no-repeat;
}

.macro-table-scroll-container::-webkit-scrollbar-button:horizontal:hover,
.macro-table-scroll-container::-webkit-scrollbar-button:vertical:hover {
  background-color: #ccc;
}

.macro-table-scroll-container::-webkit-scrollbar-button:horizontal:active,
.macro-table-scroll-container::-webkit-scrollbar-button:vertical:active {
  background-color: #999;
}

.macro-table-scroll-container::-webkit-scrollbar-button:horizontal:increment {
  width: 15px; /* these buttons get pushed over from the square in the cornder to make it look 1px larger than it is, so compensate */
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'><path fill='rgb(153, 153, 153)' d='M 181.334,128L 394.666,256L 181.334,384 z'/></svg>");
}
.macro-table-scroll-container::-webkit-scrollbar-button:horizontal:increment:active {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'><path fill='rgb(255, 255, 255)' d='M 181.334,128L 394.666,256L 181.334,384 z'/></svg>");
}

.macro-table-scroll-container::-webkit-scrollbar-button:horizontal:decrement {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'><path fill='rgb(153, 153, 153)' d='M 362.666,384L 149.334,256L 362.666,128 z'/></svg>");
}
.macro-table-scroll-container::-webkit-scrollbar-button:horizontal:decrement:active {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'><path fill='rgb(255, 255, 255)' d='M 362.666,384L 149.334,256L 362.666,128 z'/></svg>");
}

.macro-table-scroll-container::-webkit-scrollbar-button:vertical:increment {
  height: 15px; /* these buttons get pushed over from the square in the cornder to make it look 1px larger than it is, so compensate */
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'><path fill='rgb(153, 153, 153)' d='M 384,149.334L 256,362.666L 128,149.334 z'/></svg>");
}
.macro-table-scroll-container::-webkit-scrollbar-button:vertical:increment:active {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'><path fill='rgb(255, 255, 255)' d='M 384,149.334L 256,362.666L 128,149.334 z'/></svg>");
}

.macro-table-scroll-container::-webkit-scrollbar-button:vertical:decrement {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'><path fill='rgb(153, 153, 153)' d='M 128,362.666L 256,149.334L 384,362.666 z'/></svg>");
}
.macro-table-scroll-container::-webkit-scrollbar-button:vertical:decrement:active {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'><path fill='rgb(255, 255, 255)' d='M 128,362.666L 256,149.334L 384,362.666 z'/></svg>");
}

.macro-table-scroll-container::-webkit-scrollbar-track:vertical {
  background-clip: border-box;
  border: 1px solid #ccc;
  border-width: 0 1px 0 1px;
  box-shadow: none;
  background-color: #f8f8f8;
}
/*
.macro-table-scroll-container-ltr::-webkit-scrollbar-track:vertical {
  border-width: 0 0 0 1px;
}
.macro-table-scroll-container-rtl::-webkit-scrollbar-track:vertical {
  border-width: 0 1px 0 0;
}
*/
.macro-table-scroll-container::-webkit-scrollbar-track:horizontal {
  background-clip: border-box;
  border: 1px solid #ccc;
  border-width: 1px 0 1px 1px;
  box-shadow: none;
  background-color: #f8f8f8;
}
.macro-table-scroll-container::-webkit-scrollbar-track:hover {
  background: none;
  box-shadow: none;
}
.macro-table-scroll-container::-webkit-scrollbar-track:vertical:hover {
  border-width: 1px;
  background-clip: border-box;
  border: 1px solid #ccc;
  box-shadow: none;
  background-color: #f8f8f8;
}
.macro-table-scroll-container::-webkit-scrollbar-track:horizontal:hover {
  border-width: 1px;
  background-clip: border-box;
  border: 1px solid #ccc;
  border-width: 1px 1px 1px 2px;
  box-shadow: none;
  background-color: #f8f8f8;
}
/*.macro-table-scroll-container::-webkit-scrollbar-track:horizontal:hover {
  border-width: 1px 0 1px 0;
}
.macro-table-scroll-container::-webkit-scrollbar-track:vertical:hover {
  border-width: 0 1px 0 1px;
}*/

/*
.macro-table-scroll-container::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 6px;
}
*/
.macro-table-scroll-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .2);
  background-clip: padding-box;
  border: solid transparent;
  min-height: 28px;
  padding: 1px 1px 1px 1px;
  box-shadow: none;
  border-width: 2px 2px 2px 2px;
}
.macro-table-scroll-container::-webkit-scrollbar-thumb:horizontal {
  border-width: 2px 2px 2px 3px;
}
/*.macro-table-scroll-container::-webkit-scrollbar-thumb:vertical {
  padding: 1px 1px 1px 1px;
  box-shadow: none;
}*/
/*.macro-table-scroll-container-ltr::-webkit-scrollbar-thumb:vertical {
  border-width: 1px 1px 1px 2px;
}
.macro-table-scroll-container-rtl::-webkit-scrollbar-thumb:vertical {
  border-width: 1px 2px 1px 1px;
}*/
.macro-table-scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, .4);
  box-shadow: none;
}
.macro-table-scroll-container::-webkit-scrollbar-corner {
  border: 1px solid #ccc;
  background-color: #fff;
}
/*.macro-table-scroll-container-rtl::-webkit-scrollbar-corner {
  border-width: 1px 1px 0 0;
}
.macro-table-scroll-container-ltr::-webkit-scrollbar-corner {
  border-width: 1px 0 0 1px;
}​*/

/*
.scroll-container::-webkit-scrollbar-button {
height: 0;
width: 0;
}
.scroll-container::-webkit-scrollbar-track {
background-clip: padding-box;
border: solid transparent;
border-width: 0 0 0 4px;
}
.scroll-container::-webkit-scrollbar-track-piece {
background-clip: padding-box;
background-color: whiteSmoke;
border: solid white;
border-width: 0 0 0 3px;
box-shadow: inset 1px 0 0 rgba(0, 0, 0, .14),inset -1px 0 0 rgba(0, 0, 0, .07);
}
.scroll-container::-webkit-scrollbar-corner {
background-clip: padding-box;
background-color: whiteSmoke;
border: solid white;
border-width: 3px 0 0 3px;
box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .14);
}

.scroll-container::-webkit-scrollbar-thumb {
background-color: rgba(0, 0, 0, .2);
background-clip: padding-box;
border: solid transparent;
min-height: 28px;
border-width: 1px 1px 1px 1px;
}
.scroll-container::-webkit-scrollbar-button {
border: 1px solid #CCC;
}
.scroll-container::-webkit-scrollbar-corner {
border-width: 1px 0 0 1px;
}
.scroll-container::-webkit-scrollbar-corner {
border: 1px solid #CCC;
}
*/