/* Basic table styles and shadows */

.macro-table {
  overflow: hidden;
  z-index: 0;
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .1);
}

.macro-table .macro-table-dynamic,
.macro-table .macro-table-static {
  table-layout: fixed;
  /*border-collapse: separate; this is default behavior */
  border-style: none;
  border-spacing: 0;
  width: 0;
  background: #fff;
  -moz-box-shadow: 1px 0 2px 2px #ccc;
  -webkit-box-shadow: 1px 0 2px 2px #ccc;
  box-shadow: 1px 0 2px 2px #ccc;
}

.macro-table .macro-table-header {
  margin-bottom: -4px;
  padding-bottom: 2px;
}

.macro-table .macro-table-static-data-container {
  margin-right: -4px; /* collapse space for box-shadow on static column */
  padding-right: 2px; /* allow space for box-shadow on static column */
  z-index: 3;
}

.macro-table .macro-table-static-data-container .macro-table-static {
  margin-right: 2px; /* allow space for box-shadow */
  -moz-box-shadow: 0 0 2px 2px #ccc;
  -webkit-box-shadow: 0 0 2px 2px #ccc;
  box-shadow: 0 0 2px 2px #ccc;
}

.macro-table.macro-table-loading .macro-table-static-data-container .macro-table-static {
  -moz-box-shadow: -2px 0 2px 2px #ccc;
  -webkit-box-shadow: -2px 0 2px 2px #ccc;
  box-shadow: -2px 0 2px 2px #ccc;
}

.macro-table .macro-table-header .macro-table-dynamic {
  margin-bottom: 2px; /* allow space for box-shadow */
  -moz-box-shadow: 1px -1px 2px 2px #ccc;
  -webkit-box-shadow: 1px -1px 2px 2px #ccc;
  box-shadow: 1px -1px 2px 2px #ccc;
}

.macro-table.macro-table-loading .macro-table-header .macro-table-dynamic {
  -moz-box-shadow: 1px -2px 2px 2px #ccc;
  -webkit-box-shadow: 1px -2px 2px 2px #ccc;
  box-shadow: 1px -2px 2px 2px #ccc;
}

/*
.macro-table .macro-table-header .macro-table-dynamic {
  -moz-box-shadow: 0 0 2px 2px #ccc, inset 0 0 2px #ccc;
  -webkit-box-shadow: 0 0 2px 2px #ccc, inset 0 0 2px #ccc;
  box-shadow: 0 0 2px 2px #ccc, inset 0 0 2px #ccc;
}
*/

/* summary row in header */

.macro-table .macro-table-static-summary-row,
.macro-table .macro-table-summary-row {
  display: none;
  background-color: rgba(0, 0, 0, .1);
}

.macro-table.macro-table-display-summary-row .macro-table-static-summary-row,
.macro-table.macro-table-display-summary-row .macro-table-summary-row {
  display: table-row;
}


/* Table row styles (striped, selected, focused, highlighted) */

/* striped row */
.macro-table tr.macro-table-row.macro-table-row-stripe {
  background: rgba(0, 0, 0, .05); /* gray */
}

/* focused, striped row */
.macro-table tr.macro-table-row.macro-table-row-stripe.macro-table-row-focused {
  background: rgba(82, 146, 247, .15); /* blue */
}

/* selected row */
.macro-table.macro-table-static-column-enabled tr.macro-table-selected-row.macro-table-highlight {
  background: rgba(0, 0, 0, .2); /* gray */
}

/* focused, selected row */
.macro-table.macro-table-static-column-enabled tr.macro-table-selected-row.macro-table-highlight.macro-table-row-focused {
  background: rgba(82, 146, 247, .3); /* blue */
}

/* selected, striped row */
.macro-table.macro-table-static-column-enabled tr.macro-table-row-stripe.macro-table-selected-row.macro-table-highlight {
  background: rgba(0, 0, 0, .3); /* gray */
}

/* focused, selected, striped row */
.macro-table.macro-table-static-column-enabled tr.macro-table-row-stripe.macro-table-selected-row.macro-table-highlight.macro-table-row-focused {
  background: rgba(82, 146, 247, .4); /* blue */
}

/* focused row or selected column */
.macro-table .macro-table-row-focused,
.macro-table .macro-table-selected-column {
  /*background: rgba(0, 0, 255, .2);*/
  background: rgba(82, 146, 247, .1); /* blue */
}

/* selected, striped column */
.macro-table tr.macro-table-highlight .macro-table-selected-column {
  background: rgba(0, 0, 255, .4); /* blue */
}


/* Table cell styles TODO: remove td and th in favor of classes */

.macro-table td,
.macro-table th {
  height: 30px;
  padding: 0 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px #ccc solid;
}

.macro-table .macro-table-static td,
.macro-table .macro-table-static th {
  padding: 0;
}

.macro-table .macro-table-dynamic td {
  border-left: 1px #ccc solid;
}

.macro-table .macro-table-dynamic th {
  border-left: 1px #ccc solid;
}

.macro-table .macro-table-column-sizer th {
  height: 0;
}


/* Actionable styles (resizing, moving, etc.) */

.macro-table .macro-table-column-sortable {
  cursor: pointer;
}

.macro-table.macro-table-column-moving .macro-table-column-sortable {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

.macro-table .macro-table-data-veil {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 3;
  /* right and bottom will be set by javascript */
}

.macro-table.macro-table-loading .macro-table-data-veil {
  display: block;
}

.macro-table.macro-table-resizing {
  cursor: e-resize;
}

.macro-table-resize-guide {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 3px;
  cursor: e-resize;
  background: rgba(0, 0, 0, .2);
  display: none;
}

.macro-table-column-moving .macro-table-resize-guide {
  cursor: inherit;
}

.macro-table-reorder-handle {
  display: none;
  top: 4px;
  position: absolute;
  height: 20px;
  width: 10px;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.macro-table-header-active .macro-table-reorder-handle {
  display: block;
}

.macro-table.macro-table-column-moving .macro-table-reorder-handle {
  display: none;
}

.macro-table-reorder-handle::before,
.macro-table-reorder-handle::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  background-color: rgba(0, 0, 0, .1);
  margin-left: 2px;
}

.macro-table-reorder-handle::after {
  margin-left: 6px;
}

.macro-table-reorder-handle:hover::before,
.macro-table-reorder-handle:hover::after {
  background-color: rgba(0, 0, 0, .3);
}

.macro-table-reorder-guide {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 3;
  background: rgba(0, 0, 0, .2);
  display: none;
}

.macro-table-resize-guide.macro-table-highlight,
.macro-table-column-moving .macro-table-reorder-guide,
.macro-table-column-moving .macro-table-resize-guide {
  display: block;
}

.macro-table-column-moving .macro-table-reorder-guide,
.macro-table-column-moving .macro-table-resize-guide {
  pointer-events: none; /* this rule is what allows the reordering to work, making mouse events pass through. not supported in ie! */
}

.macro-table.macro-table-column-moving {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

.macro-table.macro-table-resizing,
.macro-table.macro-table-column-moving {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* Structural styling (catch all) */


.macro-table-data-container {
  margin-left: -1px;
}

.macro-table-static-column-enabled .macro-table-data-container {
  margin-left: 0; /* renders normally unless the static column is disabled, in which case the border is hidden */
}

.macro-table-static-header,
.macro-table-header,
.macro-table-static-data-container,
.macro-table-data-container {
  overflow: hidden;
  position: relative;
}

.macro-table-data-container .macro-table-scroll-wrapper {
  position: relative;
}

.macro-table-header-wrapper {
  position: relative;
  z-index: 3;
  border: 1px solid #ccc;
  border-right: 0;
  border-bottom: 0;
  border-left-width: 0;
  /* margin-right is set by javascript */
}

.macro-table-static-column-enabled .macro-table-header-wrapper {
  border-left-width: 1px; /* renders with the border unless the static column is disabled */
}

.macro-table-scroll-shim {
  position: absolute;
  top: -1px;
  bottom: 0;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  margin-bottom: 4px; /* allow space for box-shadow in header */

  /* width and right offset will be set by javascript */
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.macro-table-header-wrapper table {
  border-bottom: 1px solid #ccc;
}

.macro-table-data-container-wrapper {
  position: absolute;
  overflow: hidden;
  z-index: 2;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-top-width: 0;
}

.macro-table-scroll-container {
  position: absolute;
  overflow: scroll;
  padding: 0;
  margin: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-top-width: 0;
}

.macro-table.has-styled-scrollbars .macro-table-scroll-container {
  box-sizing: content-box;
  border-width: 0;
}


.macro-table-static-column-content,
.macro-table-static-header-row {
  text-align: center;
}

.macro-table-checkbox {
  margin: 0;
}


/* static column rules */

.macro-table .macro-table-static-header,
.macro-table .macro-table-static-data-container {
  display: none;
  float: left;
}

.macro-table.macro-table-static-column-enabled .macro-table-static-header,
.macro-table.macro-table-static-column-enabled .macro-table-static-data-container {
  display: block;
}


/* expanded rows dotted line hierarchy */

.macro-table-row-expander-cell {
  position: relative;
  overflow: hidden;
}

.macro-table-expand-toggle,
.macro-table-row-expander {
  position: absolute;
  left: -200%;
}

.macro-table-expand-toggle + .macro-table-expand-toggle-label,
.macro-table-row-expander + .macro-table-row-expander-label {
  -webkit-appearance: checkbox;
  height: 12px;
  width: 12px;
}

.macro-table-expand-toggle:disabled + .macro-table-expand-toggle-label,
.macro-table-row-expander:disabled + .macro-table-row-expander-label {
  opacity: .55;
}

.macro-table-expand-toggle:disabled + .macro-table-expand-toggle-label::before,
.macro-table-expand-toggle:disabled + .macro-table-expand-toggle-label::after,
.macro-table-row-expander:disabled + .macro-table-row-expander-label::before,
.macro-table-row-expander:disabled + .macro-table-row-expander-label::after {
  opacity: .8;
}

.macro-table-expand-toggle + .macro-table-expand-toggle-label::before {
  content: "";
  width: 8px; 
  height: 2px; 
  background-color: #666; 
  position: absolute;
  top: 50%;
  right: 50%;
  margin: -3px -4px 0 0;
}

.macro-table-expand-toggle + .macro-table-expand-toggle-label::after {
  content: "";
  width: 2px; 
  height: 8px;
  background-color: #666; 
  position: absolute;
  top: 50%;
  right: 50%;
  margin: -6px -1px 0 0;
}

.macro-table-expand-toggle:checked + .macro-table-expand-toggle-label::after {
  width: 0;
}

.macro-table-row-expander + .macro-table-row-expander-label:before {
  content: "";
  width: 0; 
  height: 0; 
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 5px solid #666;
  position: absolute;
  top: 50%;
  right: 50%;
  margin: -5px -3px 0 0;
}

.macro-table-row-expander:checked + .macro-table-row-expander-label::before {
  content: "";
  width: 0; 
  height: 0; 
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 5px solid #666;
  position: absolute;
  top: 50%;
  right: 50%;
  margin: -4px -3px 0 0;
}

.macro-table-subrow-hierarchy-vertical-line-top-half::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 50%;
  right: 50%;
  border-left: 1px dotted rgba(0, 0, 0, 1);
}

.macro-table-subrow-hierarchy-vertical-line-bottom-half::before {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 0;
  right: 50%;
  border-left: 1px dotted rgba(0, 0, 0, 1);
}

.macro-table-subrow-hierarchy-vertical-line-full::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 50%;
  border-left: 1px dotted rgba(0, 0, 0, 1);
}

.macro-table-subrow-hierarchy-line-right::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  border-top: 1px dotted rgba(0, 0, 0, 1);
}

/* Webkit doesn't yet support "visibility: collapse;" on <col> */
/*
col.macro-table-row-expander-column,
col.macro-table-row-selector-column  {
  visibility: collapse;
}

.macro-table-static-column-enabled.macro-table-rows-expandable .macro-table-row-expander-column,
.macro-table-static-column-enabled.macro-table-rows-selectable .macro-table-row-selector-column {
  visibility: visible;
}
*/



/* I don't think we need this for the static columns, the col widths handle it, right? */
/*
.macro-table-static-column-enabled.macro-table-rows-selectable .macro-table-static-header,
.macro-table-static-column-enabled.macro-table-rows-selectable .macro-table-static-data-container,
.macro-table-static-column-enabled.macro-table-rows-collapsible .macro-table-static-header,
.macro-table-static-column-enabled.macro-table-rows-collapsible .macro-table-static-data-container {
  width: 20px;
}

.macro-table-static-column-enabled.macro-table-rows-collapsible.macro-table-rows-collapsible .macro-table-static-header,
.macro-table-static-column-enabled.macro-table-rows-collapsible.macro-table-rows-collapsible .macro-table-static-data-container {
  width: 40px;
}
*/

/* Expanded / Collapsed rows rules */

.macro-table-sub-row {
  display: none;
}

.macro-table-row-expanded .macro-table-sub-row {
  display: table-row;
}


/* scrollbar styling */

.macro-table-scroll-container::-webkit-scrollbar {
  overflow: visible;
  background-color: #fff;
}

.macro-table-scroll-container::-webkit-scrollbar:vertical {
  width: 12px;
}
.macro-table-scroll-container::-webkit-scrollbar:horizontal {
  height: 12px;
}
.macro-table-scroll-container::-webkit-scrollbar-button:start {
  display: none;
}
.macro-table-scroll-container::-webkit-scrollbar-button:end {
  display: block;
}
.macro-table-scroll-container::-webkit-scrollbar-button {
  border: 1px solid #ccc;
}
.macro-table-scroll-container::-webkit-scrollbar-button:horizontal {
  border-width: 1px 0 1px 0;
}
.macro-table-scroll-container::-webkit-scrollbar-button:vertical {
  border-width: 0 1px 0 1px;
}
/*
.scroll-container-ltr::-webkit-scrollbar-button:vertical {
  border-width: 0 0 0 1px;
}
.scroll-container-rtl::-webkit-scrollbar-button:vertical {
  border-width: 0 1px 0 0;
}
*/
.macro-table-scroll-container::-webkit-scrollbar-button:horizontal:increment {
  padding-left: 1px;
  background: no-repeat url("http://ssl.gstatic.com/docs/spreadsheets/waffle_sprite33.png") -152px -62px;
  width: 15px;
}
.macro-table-scroll-container::-webkit-scrollbar-button:horizontal:increment:hover {
  background: no-repeat url("http://ssl.gstatic.com/docs/spreadsheets/waffle_sprite33.png") -279px -100px;
}
.macro-table-scroll-container::-webkit-scrollbar-button:horizontal:increment:active {
  background: no-repeat url("http://ssl.gstatic.com/docs/spreadsheets/waffle_sprite33.png") -420px -79px;
}

.macro-table-scroll-container::-webkit-scrollbar-button:horizontal:decrement {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background: no-repeat url("http://ssl.gstatic.com/docs/spreadsheets/waffle_sprite33.png") -40px -16px;
  width: 17px;
}
.macro-table-scroll-container::-webkit-scrollbar-button:horizontal:hover {
  background: no-repeat url("http://ssl.gstatic.com/docs/spreadsheets/waffle_sprite33.png") -168px -62px;
}
.macro-table-scroll-container::-webkit-scrollbar-button:horizontal:active {
  background: no-repeat url("http://ssl.gstatic.com/docs/spreadsheets/waffle_sprite33.png") -115px -98px;
}

.macro-table-scroll-container::-webkit-scrollbar-button:vertical:increment {
  padding-top: 1px;
  background: no-repeat url("http://ssl.gstatic.com/docs/spreadsheets/waffle_sprite33.png") -356px -15px;
  height: 15px;
}
.macro-table-scroll-container::-webkit-scrollbar-button:vertical:increment:hover {
  background: no-repeat url("http://ssl.gstatic.com/docs/spreadsheets/waffle_sprite33.png") -356px 0;
}
.macro-table-scroll-container::-webkit-scrollbar-button:vertical:increment:active {
  background: no-repeat url("http://ssl.gstatic.com/docs/spreadsheets/waffle_sprite33.png") -40px 0;
}

.macro-table-scroll-container::-webkit-scrollbar-button:vertical:decrement {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: no-repeat url("http://ssl.gstatic.com/docs/spreadsheets/waffle_sprite33.png") -265px -62px;
  height: 17px;
}
.macro-table-scroll-container::-webkit-scrollbar-button:vertical:decrement:hover {
  background: no-repeat url("http://ssl.gstatic.com/docs/spreadsheets/waffle_sprite33.png") -263px -123px;
}
.macro-table-scroll-container::-webkit-scrollbar-button:vertical:decrement:active {
  background: no-repeat url("http://ssl.gstatic.com/docs/spreadsheets/waffle_sprite33.png") -29px 0;
}

.macro-table-scroll-container::-webkit-scrollbar-track:vertical {
  background-clip: border-box;
  border: 1px solid #ccc;
  border-width: 0 1px 0 1px;
  box-shadow: none;
  background-color: #f8f8f8;
}
/*
.macro-table-scroll-container-ltr::-webkit-scrollbar-track:vertical {
  border-width: 0 0 0 1px;
}
.macro-table-scroll-container-rtl::-webkit-scrollbar-track:vertical {
  border-width: 0 1px 0 0;
}
*/
.macro-table-scroll-container::-webkit-scrollbar-track:horizontal {
  background-clip: border-box;
  border: 1px solid #ccc;
  border-width: 1px 0 1px 1px;
  box-shadow: none;
  background-color: #f8f8f8;
}
.macro-table-scroll-container::-webkit-scrollbar-track:hover {
  background: none;
  box-shadow: none;
}
.macro-table-scroll-container::-webkit-scrollbar-track:vertical:hover {
  border-width: 1px;
  background-clip: border-box;
  border: 1px solid #ccc;
  box-shadow: none;
  background-color: #f8f8f8;
}
.macro-table-scroll-container::-webkit-scrollbar-track:horizontal:hover {
  border-width: 1px;
  background-clip: border-box;
  border: 1px solid #ccc;
  border-width: 1px 1px 1px 2px;
  box-shadow: none;
  background-color: #f8f8f8;
}
/*.macro-table-scroll-container::-webkit-scrollbar-track:horizontal:hover {
  border-width: 1px 0 1px 0;
}
.macro-table-scroll-container::-webkit-scrollbar-track:vertical:hover {
  border-width: 0 1px 0 1px;
}*/

/*
.macro-table-scroll-container::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 6px;
}
*/
.macro-table-scroll-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .2);
  background-clip: padding-box;
  border: solid transparent;
  min-height: 28px;
  padding: 1px 1px 1px 1px;
  box-shadow: none;
  border-width: 2px 2px 2px 2px;
}
.macro-table-scroll-container::-webkit-scrollbar-thumb:horizontal {
  border-width: 2px 2px 2px 3px;
}
/*.macro-table-scroll-container::-webkit-scrollbar-thumb:vertical {
  padding: 1px 1px 1px 1px;
  box-shadow: none;
}*/
/*.macro-table-scroll-container-ltr::-webkit-scrollbar-thumb:vertical {
  border-width: 1px 1px 1px 2px;
}
.macro-table-scroll-container-rtl::-webkit-scrollbar-thumb:vertical {
  border-width: 1px 2px 1px 1px;
}*/
.macro-table-scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, .4);
  box-shadow: none;
}
.macro-table-scroll-container::-webkit-scrollbar-corner {
  border: 1px solid #ccc;
  background-color: #fff;
}
/*.macro-table-scroll-container-rtl::-webkit-scrollbar-corner {
  border-width: 1px 1px 0 0;
}
.macro-table-scroll-container-ltr::-webkit-scrollbar-corner {
  border-width: 1px 0 0 1px;
}​*/

/*
.scroll-container::-webkit-scrollbar-button {
height: 0;
width: 0;
}
.scroll-container::-webkit-scrollbar-track {
background-clip: padding-box;
border: solid transparent;
border-width: 0 0 0 4px;
}
.scroll-container::-webkit-scrollbar-track-piece {
background-clip: padding-box;
background-color: whiteSmoke;
border: solid white;
border-width: 0 0 0 3px;
box-shadow: inset 1px 0 0 rgba(0, 0, 0, .14),inset -1px 0 0 rgba(0, 0, 0, .07);
}
.scroll-container::-webkit-scrollbar-corner {
background-clip: padding-box;
background-color: whiteSmoke;
border: solid white;
border-width: 3px 0 0 3px;
box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .14);
}

.scroll-container::-webkit-scrollbar-thumb {
background-color: rgba(0, 0, 0, .2);
background-clip: padding-box;
border: solid transparent;
min-height: 28px;
border-width: 1px 1px 1px 1px;
}
.scroll-container::-webkit-scrollbar-button {
border: 1px solid #CCC;
}
.scroll-container::-webkit-scrollbar-corner {
border-width: 1px 0 0 1px;
}
.scroll-container::-webkit-scrollbar-corner {
border: 1px solid #CCC;
}
*/